.jumbotron {
  padding-top: 0px;
  padding-bottom: 0x;
  margin-bottom: 0px;
  color: whitesmoke;
  background-color: rgb(196, 196, 22); 
}
.button {
  background-color: wheat;
  border: darkgoldenrod;
  color: green;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button1 {background-color: #e9e76b;} 
.button2 {border-radius: 2px;}
.button2 {background-color: #4CAF50;} /* Green */
.button3 {border-radius: 4px;}
.button3 {background-color: rgb(255, 102, 0);} /* Green */

#show-order{
  display: none;
}
